[submodule "public"]
	path = public
	url = git@github.com:zhangfelix/zhangfelix.github.io.git
	branch = master
[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
